
%p
  =auto_link(simple_format(@comment.content))
%p
  =@comment.created_at

= form_for :comment, url: school_comment_path, method: :put do |f|
  %p
    = f.text_area :content
  %p
    = f.submit'編集を保存'