.mainbody
  .topspace
  %h1{:style => "text-align: center;"}
    About
  .topspace
  %h4.menuline{:style => "text-align: center; font-size: 20px;"} School Chatとは

  .body{:style => "text-align: left; margin-left: 50px; margin-right:50px;"}
    %h4
      ="SchoolChatは、"
    %h4
      ="国際系教育に特化した学校口コミサイトです。"
    %h4
      ="インター校や日本人学校、外国人学校１５０件以上の口コミを集めており、国際教育系学校口コミサイトとしては、日本最大を誇っております。"
    %h4
      ="口コミ投稿者は　イベントにいらしていただいた、facebook等で知り合いの方、知り合いの生徒の友人、また、Facebook/メールで身元を確認した方のみとさせていただいております。"

  .topspace
  %h4.menuline{:style => "text-align: center; font-size: 20px;"} 運営者
  .container3.mainbody{:style => "margin-left: 50px; margin-right:50px; padding-top: 15px;"}
    %h4
      ="運営しているのは、有志学生 東京大学教養学部２年　岡庭・沖・多田・赤です。"
    %h4
      ="国内外で国際的な教育の選択肢を考えていらっしゃるご家族の役に立ちたいという思いでSchoolChatを作っています。"
      / %br
      / ="今後もこのサイトを、海外やインターにいた私たちの経験を、まとめて見られる日本唯一のサイトにしたいと思っております。"
    %br
      ="口コミの投稿者は、知人・イベント参加者や、Facebook等SNSでの本人確認を私たちがした方々に限定しております。"
    %br
      ="もしご連絡をとりたい口コミ投稿者の方がいらっしゃいましたら、お問い合わせください。"

  .member-list
    .container{:style => "margin: 0 auto; width: 100%; padding-top: 20px;"}
      .row
        .col-xs-12.col-sm-3.col-md-3
          .box.clearfix
            .item_img
              = image_tag("Haru.jpg", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")
            .col-xs-12.col-sm-12
              %h4 岡庭晴
              %p ４年半で英インター高校を首席で卒業、国際バカロレア資格４５点満点を取得。
              %p 代表。サイト構築、渉外ほか。
        .col-xs-12.col-sm-3.col-md-3
          .box.clearfix
            .col-xs-12.col-sm-12
              .item_img
                = image_tag("okki.png", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")
            .col-xs-12.col-sm-12
              %h4 沖麻未
              %p 公立小学校から私立桜蔭中学校に入学、同高校を卒業。
              %p デザイン主任、HTML/CSS実装。
        .col-xs-12.col-sm-3.col-md-3
          .box.clearfix
            .col-xs-12.col-sm-12
              .item_img
                = image_tag("tadaken.png", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")
            .col-xs-12.col-sm-12
              %h4 多田憲介
              %p プロサッカーチームに所属しつつ、トルコ、ドイツで国際バカロレアで学ぶ。
              %p 渉外、企画担当。
        .col-xs-12.col-sm-3.col-md-3
          .box.clearfix
            .col-xs-12.col-sm-12
              .item_img
                = image_tag("kae.png", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")
            .col-xs-12.col-sm-12
              %h4 赤賀映
              %p デザイン担当。




.mainbody
  %h4.menuline{:style => "text-align: center; font-size: 20px;"} 今までの実績
  .container3.mainbody{:style => "margin-left: 10px; margin-right:50px; padding-top: 15px;"}
    %table.table1{:style => "margin: 3px;"}
      %tr
        %th 開催日
        %th テーマ
        %th 主催
        %th
        %th 参加者数
      %tr
        %td 2015/05/24
        %td 国際バカロレアと家庭でのサポート
        %td 岡庭・沖
        %td 協力：東大家庭教師友の会
        %td 40

      %tr
        %td 2015/05/23
        %td 留学前準備セミナー
        %td 多田・岡庭
        %td 協力：駿台国際教育センター
        %td 20

      %tr
        %td 2014/12/14
        %td 経験者による国際バカロレアセミナー
        %td 岡庭・IBJPN.com
        %td 協力：コクヨ社
        %td 65

      %tr
        %td 2015/06/20
        %td 親子で1日体験！探究心を育む、国際バカロレア・ライフ
        %td a.school
        %td 企画・講演：岡庭
        %td 40(予定)


      %tr
        %td 2015/07/11
        %td 日本が目指している国際バカロレアって何？セミナー
        %td KS After School International(広島県)
        %td 企画・講演：岡庭
        %td 100(予定)

    .lineyellow
    .space10px{:style =>"margin-left: 30px;"}
    %h4 ご紹介

    %h5{:style =>"margin-left: 30px;"}
      昨年セミナー時インタビュー記事：
    %h5{:style =>"margin-left: 30px;"}
      ・http://www.wormo.net/topics/world/87/
    %h5{:style =>"margin-left: 30px;"}
      ５月セミナー参加者によるブログ記事：
    %h5{:style =>"margin-left: 30px;"}
      ・http://twinklekidsstar.com/news/?p=614
    %h5{:style =>"margin-left: 30px;"}
      ・http://ameblo.jp/sarukichi-kun/entry-12030289639.html
    %h5{:style =>"margin-left: 30px;"}
      今後のイベント申し込みページ：
    %h5{:style =>"margin-left: 30px;"}
      ・http://aschool.co.jp/event/7289/
    %h5{:style =>"margin-left: 30px;"}
      ・http://www.ksaie.asia/

  %h4.menuline{:style => "text-align: center; font-size: 20px;"} 代表　岡庭　プロフィール：
  .container3.mainbody{:style => "margin-left: 50px; margin-right:50px; padding-top: 15px;"}
    海外生まれ。日本の公立幼稚園・小学校で学ぶ。小学6年から3年間はジャカルタ本人学校で学ぶ。中学2年から英国のインターナショナルスクールで国際バカロレアプログラムMYP, DPのもと学ぶ。 高校1年時にアメーバブログで海外と日本の教育の差について情報発信を始めた。2013年、Marymount International School London高校を首席で卒業。国際バカロレア資格45点満点、国際バカロレア　バイリンガル資格を取得。 早慶大、京大、東大の帰国子女枠受験に合格。Facebook 国際バカロレアコミュニティ(参加者８００人超)管理人。ほかに、学研アクセラレータプログラムピッチコンテスト最優秀賞、文部科学通信寄稿等。



  %h4.menuline{:style => "text-align: center; font-size: 20px;"} お問い合わせ
  .mainbody1{:style => "text-align: center;"}
    %iframe{:frameborder => "0", :height => "680", :marginheight => "0", :marginwidth => "0", :margin =>"auto",:src => "https://docs.google.com/forms/d/1tEkwgovfwTUbOEzTb4b-MKgjMrEZFvJOrqJbu8Tsxv8/viewform?embedded=true", :width => "50%", :style =>"text-align:center;"} 読み込み中...

  .topspace
  .topspace