.mainbody
  .topspace
  %h1{:style => "text-align: center;"}
    About
  .topspace
  %h4.menuline{:style => "text-align: center; font-size: 20px;"} School Chatとは

  .body{:style => "text-align: left; margin-left: 50px; margin-right:50px;"}
    %h4
      ="SchoolChatは、"
    %h4
      ="国際系教育に特化した学校口コミサイトです。"
    %h4
      ="インター校や日本人学校、外国人学校１２０件以上の口コミを集めており、国際教育系学校口コミサイトとしては、日本最大を誇っております。"

  .topspace
  %h4.menuline{:style => "text-align: center; font-size: 20px;"} 運営者
  .container3.mainbody{:style => "margin-left: 50px; margin-right:50px; padding-top: 15px;"}
    %h4
      ="運営しているのは、有志学生 東京大学文科二類２年　岡庭・沖・多田・赤です。"
    %h4
      ="国内外で国際的な教育の選択肢を考えていらっしゃるご家族の役に立ちたいという思いでSchoolChatを作っています。"
      / %br
      / ="今後もこのサイトを、海外やインターにいた私たちの経験を、まとめて見られる日本唯一のサイトにしたいと思っております。"
    %br
      ="口コミの信頼性は、知人・イベント参加者や、Facebook等SNSでの本人確認を私たちが行うことで担保しております。"
    %br
      ="もしご連絡をとりたい口コミ投稿者の方がいらっしゃいましたら、お問い合わせください。"

  .member-list
    .container{:style => "margin: 0 auto; width: 100%; padding-top: 20px;"}
      .row
        .col-xs-6.col-sm-3.col-md-3
          .box.clearfix
            .item_img
              = image_tag("Haru.jpg", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")
            .col-xs-12.col-sm-12
              %h4 岡庭晴
        .col-xs-6.col-sm-3.col-md-3
          .box.clearfix
            .col-xs-12.col-sm-12
              .item_img
                = image_tag("Haru.jpg", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")
            .col-xs-12.col-sm-12
              %h4 沖麻未
        .col-xs-6.col-sm-3.col-md-3
          .box.clearfix
            .col-xs-12.col-sm-12
              .item_img
                = image_tag("Haru.jpg", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")
            .col-xs-12.col-sm-12
              %h4 多田憲介
        .col-xs-6.col-sm-3.col-md-3
          .box.clearfix
            .col-xs-12.col-sm-12
              .item_img
                = image_tag("Haru.jpg", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")
            .col-xs-12.col-sm-12
              %h4 赤賀映




.mainbody
  %h4.menuline{:style => "text-align: center; font-size: 20px;"} 今までの実績
  .container3.mainbody{:style => "margin-left: 50px; margin-right:50px; padding-top: 15px;"}
  =auto_link("twinklekidsstar.com/news/?p=614")


  2015/05/24 国際バカロレアセミナー（２セッション）
  主催：岡庭・沖
  協力：東大家庭教師友の会
  詳細：ibhiroba.com
  参加者数：４０
  参加者によるブログ記事：
  http://twinklekidsstar.com/news/?p=614
  http://ameblo.jp/sarukichi-kun/entry-12030289639.html
  2015/05/23 留学前準備セミナー
  主催：多田・岡庭
  協力：駿台国際教育センター
  2014/12/14国際バカロレアセミナー
  主催：岡庭・山内（IBJPN.com管理者）
  協力：コクヨ社 WorMo部門
  参加者数：６５
  セミナー時インタビュー記事：http://www.wormo.net/topics/world/87/
  実施決定：
  ・2015/06/20 a.school Workshop「親子で1日体験！探究心を育む、国際バカロレア・ライフ」
  主催：a.school
  講演：岡庭
  詳細：http://aschool.co.jp/event/7289/
  ・2015/07/11 2015 IB(国際バカロレア)セミナー
  主催：KS After School International
  講演：岡庭

  %h4.menuline{:style => "text-align: center; font-size: 20px;"} チーム代表　岡庭　プロフィール：
  .container3.mainbody{:style => "margin-left: 50px; margin-right:50px; padding-top: 15px;"}
    海外生まれ。日本の公立幼稚園・小学校で学ぶ。小学6年から3年間はジャカルタ本人学校で学ぶ。中学2年から英国のインターナショナルスクールで国際バカロレアプログラムMYP, DPのもと学ぶ。 高校1年時にアメーバブログで海外と日本の教育の差について情報発信を始めた。2013年、Marymount International School London高校を首席で卒業。国際バカロレア資格45点満点、国際バカロレア　バイリンガル資格を取得。 早慶大、京大、東大の帰国子女枠受験に合格。Facebook 国際バカロレアコミュニティ(参加者８００人超)管理人。



  %h4.menuline{:style => "text-align: center; font-size: 20px;"} お問い合わせ
  %iframe{:frameborder => "0", :height => "680", :marginheight => "0", :marginwidth => "0", :margin =>"auto",:src => "https://docs.google.com/forms/d/1tEkwgovfwTUbOEzTb4b-MKgjMrEZFvJOrqJbu8Tsxv8/viewform?embedded=true", :width => "50%", :style =>"align-content:center;"} 読み込み中...

  .topspace
  .topspace