    <div class="intro-header" style="background-image:url(<%= asset_path "earth.jpg" %>)">
      <div class="intro-message" >


        <div class="transparentboxoutline">
                <h2>IBファイル全集</h2>
                <h4>~日本最大級の国際バカロレア資料集~</h4>
                <h4>協力者：</h4>
                <h4>東京大学　岡庭晴 (2013 ５月試験 IB45)</h4>
                <h4>オックスフォード大学　Oranand Sukhavasti (2013 ５月試験)</h4>
                <!-- <h4>Central Saint Martins大学　Bo Chao Zeng (2015 ５月試験)</h4> -->
        </div>
      </div>
    </div>


  <div class="transparentboxpeople">
    <h4>目次</h4>
    <ul>
      <li>・PICKUP!</li>
      <li>・IB MYP（中１~高１） 一覧</li>
      <li>・IB DP（高２~３年） 一覧</li>
      <li>・IB生の非公式ガイド</li>
      <li>・(Coming Soon)日本人IB生徒のための大学受験ガイド</li>
    </ul>
    <!-- <h5>最終更新：2015年７月２日</h5> -->
    <h5>※個人利用のみ可　または<a href="https://www.facebook.com/haru.okaniwa" target="_blank">こちらから管理者に相談</a></h5>
  </div>

<div class="bitcoin setheading">
  <h4>Bitcoinでお礼する</h4>
<%= image_tag("ProTipAddress1.png", :class=>"img-responsive qrcode") %>
  1J9kkzH8LNgny3qGuAy8aaLhDGNrcVwyan
</div>



<div class="space10px"></div>
<div class="space10px"></div>


<% if logged_in?%>
          <div class="setheading">
            <h4>PICKUP!</h4>
          </div>
          <div class="files">
            ・Extended Essay(EE/高校卒業論文)
            <ul>
              <li>
              ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncflJfZkhaVjV6VDZEbF9QM1RTZ1FKbTVEUmxZS2pKLW1XZ2l2RVkteVROWEk&usp=sharing" target="_blank">地理：東京都永田町~四ツ谷地域におけるコンビニの分布について</a></li>
              <li>参考：<a href="https://drive.google.com/file/d/0B3PyvqUv_6ncUUFGVUdMSXpoLW8/view?usp=sharing" target="_blank">公式手引き　Extended Essay Guide</a></li>
            </ul>

            ・高校国語 Japanese A Literature HL
            <ul>
              <li>
              ・<a href="https://drive.google.com/file/d/0B3PyvqUv_6ncVGF0eURkWjI1bGc/view?usp=sharing" target="_blank">アルベール・カミュ「異邦人」：最終提出課題：ワークショップ：主人公のアイデンティティーの象徴は小説の中でどのように扱われるか</a></li>
            </ul>
            ・中学　英語・社会科　科目横断プロジェクト
            <ul>
              <li>　　
              ・<a href="https://docs.google.com/document/d/13Sf7Z0IADsisLBIRxbMYAx8QM3VEY18MS2uj94M0qnM/edit?usp=sharing" target="_blank">英語と歴史　『WW１の兵士の日記』</a></li>
            </ul>
        </div>

          <br>
          <div class="setheading">
            <h4>IB MYP （中１~高１）一覧</h4>
          </div>
          <div class="files">
            <a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfnk2S1YzRWs2YUtvSWM2NFh4dDdPYUxGVmxGTzU2bGlMMlZfT2ZVMFBFMlk&usp=sharing" target="_blank">・英語文学（国語/English）</a>
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・シェークスピア『マクベス』：Macduff登場人物分析</li>
            <li>　　・シェークスピア『マクベス』：劇を現代風にアレンジする課題の原稿</li>
            <li>　　・短い物語を書く課題（書き直す前版+最終版）</li>
            <li>　　・『Second Class Citizen』主人公と社会的地位の関係の分析</li>
            <li>　　・『蠅の王(Lord of the Flies)』物語の続きを書く課題+続きの流れを正当化するエッセイ</li>
          </ul>
          <br>
            <a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfjFZY1FCUVdQZFBCZVNkSUNRd25wQU5wX3Eyel9OWGFISU1WZmprNlJuTmc&usp=sharing" target="_blank">・社会科 (Humanities)</a>
          <br>
          <ul>
            <li>内容：</li>
            <li><a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfks0dHJ4MXNlUG1UQWpOZm1Jbm9RR0FHS0dlNHhfcFVUQ254MmxTU3BZWnc&usp=sharing" target="_blank">　　・エッセイ：水は今後石油と同じように枯渇するか</a></li>
            <li>　　・レポート：ナミビア内戦1966-1990</li>
            <li>　　・プレゼン：広島の原爆後の劇</li>
            <li>　　・宿題：WW1勃発の理由３つ比較+自論</li>
            <li>　　・宿題：ドイツ敗戦の一番の理由</li>
          </ul>
          <br>
            <a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfjNPZVZ6QWxUT0lWeUxqeFRqWWVuVVVLR25HMU5Cd3doRmVLOU5MWEtKVzQ&usp=sharing" target="_blank">・理科 (Physics Chemistry Biology)</a>
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・物理：小説：Big Bang理論を扱うSF</li>
            <li>　　・物理：レポート：電流への抵抗についての実験企画</li>
            <li>　　・物理：調査レポート：日本の星座の調査</li>
            <li>　　・物理：宿題：放射能物質のdecayについて</li>

            <li>　　・化学：レポート：銀の採掘の経済・社会的影響</li>
            <li>　　・化学：レポート：実験計画</li>
            <li>　　・化学：教科書の問題：銅の溶解性</li>

            <li>　　・生物：レポート：心臓と運動</li>
            <li>　　・生物：フィクション記事：ペースメーカー発明</li>
          </ul>

          <br>
            <a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfjRibVNpLUZXaXp0MHRzeUZtUzFlUzVGdV9va1JSdWtWWEVCUlJIcjJRd3c&usp=sharing" target="_blank">・体育 (PE/Physical Education)</a>
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・振り返り：マラソン</li>
            <li>　　・振り返り：ハンドボールトーナメント企画運営</li>
          </ul>

          <br>
            <a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfjhDUWNONzB2YUt5bUFBQWlLZnJ2T1RMUTRnWmpfWjlYSk53a1RpWnJISms&usp=sharing" target="_blank">・技術 (Technology)</a>
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・振り返り：いらないもので楽器作り+演奏</li>
          </ul>


          <br>
            <a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfmVWRzM1WWNyLTNRRVQ4WXc2NlVqdmJTUE9DVV94UmxwajVsNE82LXpDdlk&usp=sharing" target="_blank">・演劇 (Drama)</a>
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・振り返り：パントマイム体験</li>
          </ul>


          <br>
          ・科目横断プロジェクト
          <br>
          <ul>
            <li>　　
            ・<a href="https://docs.google.com/document/d/13Sf7Z0IADsisLBIRxbMYAx8QM3VEY18MS2uj94M0qnM/edit?usp=sharing" target="_blank">英語と歴史　『WW１の兵士の日記』</a></li>
          </ul>
        </div>

          <div class="setheading">
            <h4>IB DP（高２~３年）：卒論・課外活動等</h4>
          </div>
          <div class="files">
          ・Extended Essay(EE/高校卒業論文)
          <br>
          <ul>
            <li>
            ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncflJfZkhaVjV6VDZEbF9QM1RTZ1FKbTVEUmxZS2pKLW1XZ2l2RVkteVROWEk&usp=sharing" target="_blank">地理：東京都永田町~四ツ谷地域におけるコンビニの分布について</a></li>
            <li>　　・追加提出物：Viva Voce（担任の先生との会話の後の振り返り文）</li>
            <li>参考：<a href="https://drive.google.com/file/d/0B3PyvqUv_6ncUUFGVUdMSXpoLW8/view?usp=sharing" target="_blank">公式手引き　Extended Essay Guide</a></li>
          </ul>

          <br>
          ・Theory of Knowledge (TOK/知の理論）
          <br>
          <ul>
            <li>　　宿題：</li>
            <li>　　<a href="https://docs.google.com/document/d/1udgSxPG0avTXm8uaqsS_I9VQfs6UBOwC5Osz8I6Qbo0/edit?usp=sharing" target="_blank">・How is history similar to science and how certain is history?</a></li>
            <li>　　　　事例：Mayan calendar and its discussed prophesies for 2012</li>
            <li>　　最終エッセイ：</li>
            <li>　　・In what ways may disagreement aid the pursuit of knowledge in the natural and human sciences?</li>
            <li>　　・"The possession of knowledge carries ethical responsibility." Evaluate this statement.</li>

            <li>　　最終プレゼン：</li>
            <li>　　
            ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfnA4bDdsWkZlZU9FaEQ0TWVpUjY2NmktYWVLTmZJeGxTQ0JFVk9xUmE4V28&usp=sharing" target="_blank">How reliable is statistical data in human sciences given the issue of selection bias?</a></li>
            <li>　　　　原稿+スライド等</li>
            <li>　　　　事例：新聞会社による統計調査の手法</li>
            <li>　　　　時間：３０分</li>
            <li>　　　　事例：新聞会社による統計調査の手法</li>
            <li>　　　　点数: 20/20点満点</li>
          </ul>

          <br>
          ・Community and Service (CAS/課外活動)
          <ul>
            <li>振り返り</li>
            <li>
            ・<a href="https://docs.google.com/document/d/162nmTBG--5aAoyX1zqiIvSBUArtwVD-GRYsOD5AWpfs/edit?usp=sharing" target="_blank">生徒会副会長としての活動</a></li>
            <li>
            ・<a href="https://docs.google.com/document/d/1kn4TMP-MWKG8dyHXNonmbfzkGSxwXx5htoPe2JHMD0w/edit?usp=sharing" target="_blank">英語教室企画・運営</a></li>
          </ul>
        </div>

          <br>
          <div class="setheading">
            <h4>IB DP（高２~３年）：科目</h4>
          </div>
          <div class="files">

            ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfnZJN1dWRi1ZQzd0bnhpdURoZ08xc3VkTm5Pb0RzbHZiS0tlZVlMbnJIdm8&usp=sharing" target="_blank">日本文学 A HL 2013年５月試験</a>
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・コメンタリー：夏目漱石『こころ』：先生の今後</li>
              <li>　　・コメンタリー：夏目漱石『こころ』：先生の墓場での狼狽の理由</li>
              <li>　　・コメンタリー：夏目漱石『こころ』：主人公と家族の関係性から見る明治の人々</li>
              <li>・最終提出課題 ワークショップ(Interactive Oral)：カミュ「異邦人』：主人公のアイデンティティーを象徴するシンボルの働き</li>
              <li></li>
            </ul>

            ・<a href="
              https://drive.google.com/folderview?id=0B3PyvqUv_6ncfm5WdnVfbFV4WDdMNm9wQXFTcEdrSlloaENISHlJai1XbExiQ21GMUxEYjg&usp=sharing" target="_blank">数学 SL 2013年５月試験</a>
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・最終提出課題(Coursework) 1</li>
              <li>　　・最終提出課題(Coursework) 2</li>
            </ul>

            <br>
            ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfm5oSGNHNVI2T2xsSS04RUtMM2t6M3B1d1F6Q1FXVk9UdElIa2RfSEFXNzA&usp=sharing" target="_blank">地理 HL 2013年５月試験</a>
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・レポート：国連Millenium Development Goals事例２件比較</li>
              <li>　　・レポート：人口ピラミッド２国比較</li>
              <li>　　・レポート：都市化</li>
              <li>　　・最終提出課題：フィールドワークレポート：ギルフォードの都市構造</li>
            </ul>

            ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfndRYktlUGRsdGRLQ29CWUZWOUExRVdmRGpMMGFFUld2aVdxVzNiOVZaeXM&usp=sharing" target="_blank">物理 SL 2013年５月試験</a>
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・公式評価基準</li>
              <li>　　・最終提出課題：レポート：エネルギーに関する実験計画・結果</li>
              <li>　　・最終提出課題：レポート：放射線に関する実験計画・結果</li>
            </ul>
            <br>


            ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfjZ3SHZPbmd3WkdLT0tEdFlqcFdPVXhCVHJpWlFJdm9kZ05tOG5WZ0RGZTQ&usp=sharing" target="_blank">生物 HL 2013年５月試験</a>
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・レポート：pHレベルが酵素に及ぼす影響</li>
              <li>　　・最終提出課題：実験レポート：光合成と二酸化炭素比率の及ぼす影響</li>
            </ul>
            <br>





            ・<a href="https://drive.google.com/file/d/0B3PyvqUv_6ncZTFjc0JVVV94M2c/view?usp=sharing" target="_blank">美術 SL 2013年５月試験</a>
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・最終プレゼン原稿</li>
              <li>　　・自己紹介シート</li>
              <li>　　・提出したワークブック（調査ノート）ページ</li>
              <li>　　・提出した美術作品</li>
            </ul>



            ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfjNRTHgtX1h1dnM5dWJUcTgxOXItaTNLNURxTXZpd3pZLXZuNXBrc25mNVU&usp=sharing" target="_blank">Group 4プロジェクト（理科科目横断チームプロジェクト）2013年５月添削</a>
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・実験計画</li>
              <li>　　・事前調査</li>
              <li>　　・データファイル</li>
              <li>　　・プレゼン資料</li>
              <li>　　・振り返り</li>
            </ul>
        </div><!-- 

          <div class="setheading">
            <h4>IB DP（高２~３年）：試験対策セット</h4>
          </div>
          <div class="files">
            <ul>
            <li>　　　</li>
              <li>
              ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfktfYllWTXlWMDEzTkVkZGhMQVFuTDJaVzZHYlROM1lfSGdDOXhVM2hzN3M&usp=sharing" target="_blank">日本文学 A HL 2013年５月試験</a>
              </li>
              <li>　　内容：</li>
              <li>　　・作文言い回しまとめ
              </li>
              <li>　　・修辞法まとめ
              </li>
              <li>　　・日本の歴史
              </li>
              <li>　　・引用する文まとめ
              </li>
            <li>　　　</li>
              <li>
              ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfnJ6VUtXSm5aUkdmMTZlbmg0SDRsTHBBS2JIZ1czcVlXWDNUemFFLUp1bjQ&usp=sharing" target="_blank">英語文学と言語 A HL 2013年５月試験</a></li>
              <li>　　内容：</li>
              <li>　　・公式　最終試験例題</li>
              <li>　　・Paper 1(初見の文章の解説を書く試験)：用語まとめ</li>
              <li>　　・Paper 2(既習の本への解説を書く試験)：引用文まとめ</li>

            <li>　　　</li>
              <li>
              ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfmJkVnRZY2p5NVdNTHhENzI2UVMwYXBJUDlQQWxHbDJtSWdaZUY2aEV6S0k&usp=sharing" target="_blank">地理 HL 2013年５月試験</a></li>
              <li>　　内容：</li>
              <li>　　・Command Terms</li>
              <li>　　・単元ごとワークシート・回答</li>
              <li>　　・Paper2, 3 過去問回答例</li>
              <li>　　・事例暗記用まとめ</li>

            <li>　　　</li>
              <li>
              ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfnljdm1pZXZiSmh6S3dLRXdyUFdMcGVNWWFwUGZobnExa0puTkdBZ3RHMVE&usp=sharing" target="_blank">物理 SL 2013年５月試験</a></li>
              <li>　　内容：</li>
              <li>　　・単語まとめ1</li>
              <li>　　・単語まとめ2</li>

            <li>　　　</li>
              <li>
              ・<a href="https://drive.google.com/folderview?id=0B3PyvqUv_6ncfkFGU1hoZmY3WE5oRUtwcGgxeUlwNmxJajB2OGJHbmJCNTF2SUdoQnJCbDA&usp=sharing" target="_blank">美術 SL 2013年５月試験</a></li>
              <li>　　内容：</li>
              <li>　　・美術単語まとめ</li>
              <li>　　・美術単語ワークシート</li>

            <li>　　　</li>
              <li>（・数学は過去問演習・公式暗記のみ）</li>
            </ul>
          </div>

 -->
          <div class="setheading">
            <h4>IB生の非公式ガイド</h4>
          </div>
          <div class="files">
              大体のエッセイ課題の流れ
                <ul>
                  <li>
                  ・課題確認</li>
                  <li>
                  ・エッセイ段落計画</li>
                  <li>
                  ・調査</li>
                  <li>
                  ・執筆</li>
                  <li>
                  ・参考文献一覧化</li>
                  <li>
                  ・ワードカウント記録</li>
                </ul>
          </div>

          <div class="setheading">
          <h5>More Coming Soon...</h5>
          </div>

          <!-- 
          <div class="setheading">
            <h4>日本人IB生徒のための大学受験ガイド</h4>
          </div> -->
          <div class="files"></div>


<% else %>
          <div class="setheading">
            <h4>PICKUP!</h4>
          </div>
          <div class="files">
            ・高校　国語 Japanese A Literature HL
            <ul>
              <li>
              ・<a href="https://drive.google.com/file/d/0B3PyvqUv_6ncVGF0eURkWjI1bGc/view?usp=sharing" target="_blank">アルベール・カミュ「異邦人」：最終提出課題：ワークショップ：主人公のアイデンティティーの象徴は小説の中でどのように扱われるか</a></li>
            </ul>
            ・中学　英語・社会科　科目横断プロジェクト
            <ul>
              <li>　　
              ・<a href="https://docs.google.com/document/d/13Sf7Z0IADsisLBIRxbMYAx8QM3VEY18MS2uj94M0qnM/edit?usp=sharing" target="_blank">英語と歴史　『WW１の兵士の日記』</a></li>
            </ul>

        <%- if logged_in?%>
        <%- else%>
          <%= link_to "ログインすると卒論など以下のすべてのリンクがみられます", new_registrations_path,:class=>"btn-signup btn btn-orange", :style=>"color: white;"%>
        <%end %>


        </div>


          <br>
          <div class="setheading">
            <h4>IB MYP （中１~高１）一覧</h4>
          </div>
          <div class="files">
            ・英語文学（国語/English）
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・シェークスピア『マクベス』：Macduff登場人物分析</li>
            <li>　　・シェークスピア『マクベス』：劇を現代風にアレンジする課題の原稿</li>
            <li>　　・短い物語を書く課題（書き直す前版+最終版）</li>
            <li>　　・『Second Class Citizen』主人公と社会的地位の関係の分析</li>
            <li>　　・『蠅の王(Lord of the Flies)』物語の続きを書く課題+続きの流れを正当化するエッセイ</li>
          </ul>
          <br>
            ・社会科 (Humanities)
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・エッセイ：水は今後石油と同じように枯渇するか</li>
            <li>　　・レポート：ナミビア内戦1966-1990</li>
            <li>　　・プレゼン：広島の原爆後の劇</li>
            <li>　　・宿題：WW1勃発の理由３つ比較+自論</li>
            <li>　　・宿題：ドイツ敗戦の一番の理由</li>
          </ul>
          <br>
            ・理科 (Physics Chemistry Biology)
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・物理：小説：Big Bang理論を扱うSF</li>
            <li>　　・物理：レポート：電流への抵抗についての実験企画</li>
            <li>　　・物理：調査レポート：日本の星座の調査</li>
            <li>　　・物理：宿題：放射能物質のdecayについて</li>

            <li>　　・化学：レポート：銀の採掘の経済・社会的影響</li>
            <li>　　・化学：レポート：実験計画</li>
            <li>　　・化学：教科書の問題：銅の溶解性</li>

            <li>　　・生物：レポート：心臓と運動</li>
            <li>　　・生物：フィクション記事：ペースメーカー発明</li>
          </ul>

          <br>
            ・体育 (PE/Physical Education)
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・振り返り：マラソン</li>
            <li>　　・振り返り：ハンドボールトーナメント企画運営</li>
          </ul>

          <br>
            ・技術 (Technology)
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・振り返り：いらないもので楽器作り+演奏</li>
          </ul>


          <br>
            ・演劇 (Drama)
          <br>
          <ul>
            <li>内容：</li>
            <li>　　・振り返り：パントマイム体験</li>
          </ul>


          <br>
          ・科目横断プロジェクト
          <br>
          <ul>
            <li>　　
            ・英語と歴史　『WW１の兵士の日記』</li>
          </ul>
        </div>

          <div class="setheading">
            <h4>IB DP（高２~３年）：卒論・課外活動等</h4>
          </div>
          <div class="files">
          ・Extended Essay(EE/高校卒業論文)
          <br>
          <ul>
            <li>
            ・地理：東京都永田町~四ツ谷地域におけるコンビニの分布について</li>
            <li>　　・追加提出物：Viva Voce（担任の先生との会話の後の振り返り文）</li>
            <li>参考：公式手引き　Extended Essay Guide</li>
          </ul>

          <br>
          ・Theory of Knowledge (TOK/知の理論）
          <br>
          <ul>
            <li>　　宿題：</li>
            <li>　　・How is history similar to science and how certain is history?</li>
            <li>　　　　事例：Mayan calendar and its discussed prophesies for 2012</li>


            <li>　　最終プレゼン：</li>
            <li>　　
            ・How reliable is statistical data in human sciences given the issue of selection bias?</li>
            <li>　　　　原稿+スライド等</li>
            <li>　　　　事例：新聞会社による統計調査の手法</li>
            <li>　　　　時間：３０分</li>
            <li>　　　　事例：新聞会社による統計調査の手法</li>
            <li>　　　　点数: 20/20点満点</li>
          </ul>


          <br>
          ・Community and Service (CAS/課外活動)
          <ul>
            <li>振り返り</li>
            <li>
            ・生徒会副会長としての活動</li>
            <li>
            ・英語教室企画・運営</li>
          </ul>
        </div>

          <br>
          <div class="setheading">
            <h4>IB DP（高２~３年）：科目</h4>
          </div>
          <div class="files">

            ・日本文学 A HL 2013年５月試験
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・コメンタリー：夏目漱石『こころ』：先生の今後</li>
              <li>　　・コメンタリー：夏目漱石『こころ』：先生の墓場での狼狽の理由</li>
              <li>　　・コメンタリー：夏目漱石『こころ』：主人公と家族の関係性から見る明治の人々</li>
              <li>・最終提出課題 ワークショップ(Interactive Oral)：カミュ「異邦人』：主人公のアイデンティティーを象徴するシンボルの働き</li>
              <li></li>
            </ul>

            ・数学 SL 2013年５月試験
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・最終提出課題(Coursework) 1</li>
              <li>　　・最終提出課題(Coursework) 2</li>
            </ul>

            <br>
            ・地理 HL 2013年５月試験
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・レポート：国連Millenium Development Goals事例２件比較</li>
              <li>　　・レポート：人口ピラミッド２国比較</li>
              <li>　　・レポート：都市化</li>
              <li>　　・最終提出課題：フィールドワークレポート：ギルフォードの都市構造</li>
            </ul>

            ・物理 SL 2013年５月試験
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・公式評価基準</li>
              <li>　　・最終提出課題：レポート：エネルギーに関する実験計画・結果</li>
              <li>　　・最終提出課題：レポート：放射線に関する実験計画・結果</li>
            </ul>
            <br>

            ・生物 HL 2013年５月試験
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・レポート：pHレベルが酵素に及ぼす影響</li>
              <li>　　・最終提出課題：実験レポート：光合成と二酸化炭素比率の及ぼす影響</li>
              <br>
            </ul>
            ・美術 SL 2013年５月試験
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・最終プレゼン原稿</li>
              <li>　　・自己紹介シート</li>
              <li>　　・提出したワークブック（調査ノート）ページ</li>
              <li>　　・提出した美術作品</li>
            </ul>

            <br>
            
            ・Group 4プロジェクト（理科科目横断チームプロジェクト）2013年５月添削
            <br>
            <ul>
              <li>　　内容：</li>
              <li>　　・実験計画</li>
              <li>　　・事前調査</li>
              <li>　　・データファイル</li>
              <li>　　・プレゼン資料</li>
              <li>　　・振り返り</li>
            </ul>
        </div>
<!-- 
          <div class="setheading">
            <h4>IB DP（高２~３年）：試験対策セット</h4>
          </div>
          <div class="files">
            <ul>
            <li>　　　</li>
              <li>
              ・日本文学 A HL 2013年５月試験
              </li>
              <li>　　内容：</li>
              <li>　　・作文言い回しまとめ
              </li>
              <li>　　・修辞法まとめ
              </li>
              <li>　　・日本の歴史
              </li>
              <li>　　・引用する文まとめ
              </li>
            <li>　　　</li>
              <li>
              ・英語文学と言語 A HL 2013年５月試験</li>
              <li>　　内容：</li>
              <li>　　・公式　最終試験例題</li>
              <li>　　・Paper 1(初見の文章の解説を書く試験)：用語まとめ</li>
              <li>　　・Paper 2(既習の本への解説を書く試験)：引用文まとめ</li>

            <li>　　　</li>
              <li>
              ・地理 HL 2013年５月試験</li>
              <li>　　内容：</li>
              <li>　　・Command Terms</li>
              <li>　　・単元ごとワークシート・回答</li>
              <li>　　・Paper2, 3 過去問回答例</li>
              <li>　　・事例暗記用まとめ</li>

            <li>　　　</li>
              <li>
              ・物理 SL 2013年５月試験</li>
              <li>　　内容：</li>
              <li>　　・単語まとめ1</li>
              <li>　　・単語まとめ2</li>


            <li>　　　</li>
              <li>
              ・美術 SL 2013年５月試験</li>
              <li>　　内容：</li>
              <li>　　・美術単語まとめ</li>
              <li>　　・美術単語ワークシート</li>

            <li>　　　</li>
              <li>（・数学は過去問演習・公式暗記のみ）</li>
            </ul>
          </div>
 -->

          <div class="setheading">
            <h4>IB生の非公式ガイド</h4>
          </div>
          <div class="files">
              大体のエッセイ課題の流れ
                <ul>
                  <li>
                  ・課題確認</li>
                  <li>
                  ・エッセイ段落計画</li>
                  <li>
                  ・調査</li>
                  <li>
                  ・執筆</li>
                  <li>
                  ・参考文献一覧化</li>
                  <li>
                  ・ワードカウント記録</li>
                </ul>
          </div>

<% end %>