    <div class="intro-header" style="background-image:url(<%= asset_path "earth.jpg" %>)">
      <div class="intro-message" >

        <%- if logged_in?%>
        <%- else%>
          <%= link_to "ログインして見る", schools_path,:class=>"btn-signup btn btn-orange", :style=>"color: white;"%>
        <%end %>





        <div class="transparentboxoutline">
                <h2>IBファイル全集</h2>
        </div>

      </div>

    </div>


<div class="transparentboxpeople">
  <h4>目次</h4>
  <ul>
    <li>・PICKUP!</li>
    <li>・IB MYP 一覧</li>
    <li>・IB DP　一覧</li>
    <li>・IB生の非公式ガイド</li>
    <li>・日本人IB生徒のための大学受験ガイド</li>
  </ul>
</div>


<div class="prices">
  <h4>PICKUP!</h4>
</div>


  <h4>IB MYP 一覧</h4>
<ul>
  <li></li>
</ul>

  <h4>IB DP 一覧</h4>

  <h4>IB生の非公式ガイド</h4>






