

    <div class="intro-header intro-headernews" style="background-image:url(<%= asset_path "earth.jpg" %>)">
      <div class="intro-message" >
      <div class="space10px"></div>
        <h1>東大に受かる国内外の教育とは</h1>
        <h3>〜東大学生による幼少期からの学習経験紹介と東大面接体験ワークショップ〜</h3>
      </div>

  <div class="transparentboxtop">
      <h4>近年、国内外での国際教育の選択肢が増えてきましたね。</h4>
      <h4>実際それぞれの進路で、こどもはどう育つの？</h4>
      <h4>どうすればトップの進路にたどり着けるの？</h4>
      <h4>話題のインター校や国際バカロレア校の授業に、自分の子供は向いているの？</h4>
      <h4>そんなご家庭の疑問に、自らの経験を中立的にお話したく、学生が今回の企画をいたします。</h4>

      <h3>対象：国際教育・帰国枠受験で成功したいご家庭、幼稚園から中高生まで</h3>
  </div>

<div class="space10px"></div>

  <div class="transparentboxoutline">
    <h3>イベント概要</h3>
        ２０１５年７月１８日
    <br>
        １０：００〜１２：００
    <br>
        国内外のエリート教育トーク・アンケート結果紹介
    <br>
        満点取得者による国際バカロレア教育をわかりやすく

    <div class="space10px"></div>

    <br>
        １３：３０〜１５：００
    <br>
        東大面接体験！自己紹介ワークショップ
    <br>
        国際バカロレア幼稚部の授業の手法でワークショップ
    <br>
        グループワークと模擬面接発表
    <br>
        幼稚園から帰国枠受験者まで
    <div class="space10px"></div>
    <br>
        １５：００〜１６：００
    <br>
        学生による東大キャンパスツアー

    <div class="space10px"></div>
    <br>
    会場
    <br>
    御茶ノ水駅から徒歩３分　
    <br>
    東京都千代田区神田駿河台2丁目 駿台予備校校舎１号館
  </div>


    </div>

    <div class="prices" style="text-align: center;">
      <br>
      参加費
      <table>
        <tbody>
          <tr>
            <td>１日参加</td>
            <td>４０００円</td>
          </tr>
          <tr>
            <td>セミナーのみ参加</td>
            <td>１６００円</td>
          </tr>

          <tr>
            <td>ワークショップ+ツアーのみ参加</td>
            <td>３０００円</td>
          </tr>

          <tr>
            <td>お知り合いを５人ご紹介の方</td>
            <td>紹介された方も１日参加２０００円</td>
          </tr>
          <tr>
            <td>６/29までにお申し込みの方</td>
            <td>さらに１０００円割引</td>
          </tr>

          <tr>
            <td>未成年一律</td>
            <td>１０００円</td>
          </tr>

        </tbody>
      </table>
      <div class="space10px"></div>
    </div>
<div class="transparentboxpeople">
  <h3>主催者紹介</h3>

  <div class="member-list">
    <div class="container" style ="margin: 0 auto; width: 100%; padding-top: 20px;">
      <div class='row'>
            <div class='col-xs-12 col-sm-3 col-md-3'>
              <div class='box clearfix'>
                <div class='item_img'>
                  <%= image_tag("Haru.jpg", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")%>
                </div>
                <div class='col-xs-12 col-sm-12'>
                  <h4>岡庭晴</h4>
                  <p>４年半で英インター高校を首席で卒業、国際バカロレア資格４５点満点を取得。帰国枠受験東大京大早慶大合格。</p>
                </div>
              </div>
            </div>

            <div class='col-xs-12 col-sm-3 col-md-3'>
              <div class='box clearfix'>
                <div class='col-xs-12 col-sm-12'>
                  <div class='item_img'>
                  <%= image_tag("okki.png", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")%>
                  </div>
                </div>
                <div class='col-xs-12 col-sm-12'>
                  <h4>沖麻未</h4>
                  <p>公立小学校から私立桜蔭中学校に入学、同高校を卒業。</p>
                </div>
              </div>
            </div>


            <div class='col-xs-12 col-sm-3 col-md-3'>
              <div class='box clearfix'>
                <div class='col-xs-12 col-sm-12'>
                  <div class='item_img'>
                  <!-- <%= image_tag("okki.png", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")%> -->
                  </div>
                </div>
                <div class='col-xs-12 col-sm-12'>
                  <h4>共催：</h4>
                  <h4>英語・国際教育情報</h4>
                  <h4>Roots&Wings</h4>
                  <p>　ーーーー　</p>
<a href="https://www.facebook.com/groups/920005558032225/" title="Roots&Wings">
FB グループメンバーになって情報交換しませんか？
皆様からのシェアもお待ちしております*\(^o^)/*
</a>
<br>
<div class="space10px"></div>
<p>　ーーーー　</p>
<a href="http://worldreadsforchildren.jimdo.com/" title="Roots&Wings">
サイトでは、東京や自宅に居ながらにして海外旅行気分に浸れたり、グローバル就職、グローバル進学、語学習得や日本を含む世界文化理解に役立つイベント、習い事、学校、商品、サース、などを紹介
</a>
<div class="space10px"></div>
                </div>
              </div>
            </div>


            <div class='col-xs-12 col-sm-3 col-md-3'>
              <div class='box clearfix'>
                <div class='col-xs-12 col-sm-12'>
                  <div class='item_img'>
                  <!-- <%= image_tag("okki.png", :class=>"img-responsive", :style => "margin:auto; width: 130px; height: 130px;")%> -->
                  </div>
                </div>
                <div class='col-xs-12 col-sm-12'>
                  <!-- <p>　ーーーー　</p> -->
                  <h4>会場提供：</h4>
                  <h4>駿台国際教育センター</h4>
                  <!-- <p>　ーーーー　</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- 会場提供：駿台国際教育センター -->
<!-- ご協力：Roots&Wings  -->

</div>

<div class="space10px"></div>

<!-- 
<div class="transparentboxprogram">
<h3>プログラム詳細</h3>
 -->
  <div class="mainbody1" style="text-align: center;">
    <iframe src="https://docs.google.com/forms/d/1OZE4mwsTcEuK3GGVHW3AvgzCr2l6y54iLeODKKeeMFc/viewform?embedded=true" width="600" height="950" frameborder="0" marginheight="0" marginwidth="0" style="text-align:center;">読み込み中...</iframe>
  </div>





