



<div class="mainbody">

<h3>皆様の貴重なご経験を、他の方のためにシェアしませんか？</h3>
<h3>口コミのご協力をお願いいたします！</h3>

  <div class='row'>
    <div class='tabbable'>
      <div id='content'>
        <ul class='nav nav-tabs'>
          <li class='active'>
            <a data-toggle='tab' href='#1'style="width: 200px;">
              <h4>小中高校の口コミ</h4>
            </a>
          </li>
          <li>
            <a data-toggle='tab' href='#2' style="width: 500px;">
              <h4>英語教室、アフタースクール、サマーコース等の口コミ</h4>
            </a>
          </li>
        </ul>
      </div>
      <div class='tab-content' id='my-tab-content'>
        <div class='tab-pane active' id='1'>
          <div class="googleform" style="text-align: center;">
            <iframe src="https://docs.google.com/forms/d/1_mz7pZs_sF3rzb7bF-U-BQOS2oRR0RdM-ekC3Sn-G2s/viewform?embedded=true" width="80%" height="2700" frameborder="0" marginheight="0" marginwidth="0">読み込み中...</iframe>
          </div>
        </div>


        <div class='tab-pane' id='2'>
          <div class="googleform" style="text-align: center;">
            <iframe src="https://docs.google.com/forms/d/1v5aRr2XTCbNbcct9m6kyg6pjcky4vztUGxzK0BIqJIE/viewform?embedded=true" width="80%" height="2300" frameborder="0" marginheight="0" marginwidth="0">読み込み中...</iframe>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>