.kensaku{:style =>"margin-left:25px;"}
  %h4 ページ内で検索する方法：
  %h5 ステップ1
  %h5 (Windowsコンピュータの方は)Ctrl キーと F を同時に押してください。
  %h5 (Macコンピュータの方は) Command キーと F を同時に押してください。

  %h5 ステップ2
  %h5 ウィンドウ右上に出てくる検索バーに、地域名・学校名等を入力して Enterキーを押してください。

  %h5 国外の学校をお探しの方
  %h5 国外の学校一覧を表示して、上の方法を行ってください。

