.registerbox{:style =>"text-align:center; margin-left: 25px; margin-left: 10px;"}
  .space10px
  %h4
    お望みの学校の口コミがなくても対応いたします。
  %h4
    登録いただいた学校の口コミを集め、メールでお知らせいたします。
  = link_to "登録して頼む", new_registrations_path, :class=>"btn-signup btn btn-orange", :style=>"margin-top: 3px; margin-left: 10px; color: white"
  %h5
    ２０１５年６月サイトオープンからの、今後にご期待ください。
  %h5
    多くのご応援ありがとうございます。
